<main class="row">
  <div class="col-12 col-lg-4 d-flex justify-content-center contenedor-portfolio">
    <a href="#"><img class="img-portfolio" src="/assets/imgs/port1.jpg" alt="port1"><h5 class="d-flex justify-content-center">Boulevard</h5><p class="d-flex justify-content-center">Oroño 351</p></a>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-center">
    <a href="#"><img class="img-portfolio" src="/assets/imgs/port2.jpg" alt="port2"><h5 class="d-flex justify-content-center">Taormina</h5><p class="d-flex justify-content-center">Tucumán 1260</p></a>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-center">
    <a href="#"><img class="img-portfolio" src="/assets/imgs/port3.jpg" alt="port3"><h5 class="d-flex justify-content-center">Paseo</h5><p class="d-flex justify-content-center">Córdoba 726</p></a>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-center">
    <a href="#"><img class="img-portfolio" src="/assets/imgs/port4.jpg" alt="port4"><h5 class="d-flex justify-content-center">Caleta</h5><p class="d-flex justify-content-center">Alvear 145</p></a>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-center">
    <a href="#"><img class="img-portfolio" src="/assets/imgs/port5.jpg" alt="port5"><h5 class="d-flex justify-content-center">Plaza</h5><p class="d-flex justify-content-center">M.Moreno 1250</p></a>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-center">
    <a href="#"><img class="img-portfolio" src="/assets/imgs/port6.jpg" alt="port6"><h5 class="d-flex justify-content-center">Pueyrredón</h5><p class="d-flex justify-content-center">Pueyrredón 365</p></a>
  </div>
</main>

  